
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #59ab44; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #000000; 
  padding-left: 30px; 
}


input{
  background-color: #d1c9c9; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #785406; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 2px; 
  border-color: #d67805; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


.buttonmostrarcontra{
  height: 20px; 
  padding-left: 2px;
  padding-right: 2px;   
  margin-bottom: 10px; 
  margin-top: 5px;   
  background-color: #785406; 
  border-color: #cf6c09; 
  border-style: solid; 
  border-radius: 15px;  
  width: 210px;   
  cursor: pointer;
}

.button{
  height: 30px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #785406; 
  border-color: #cf6c09; 
  border-style: solid; 
  border-radius: 15px;  
  width: 150px;   
  cursor:pointer;
}


button p{
  color: rgb(217, 11, 11); 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #b45e02;
}


p{
  font-size: 14px; 
  color: #b45e02; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #d6d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #df8f05;
}

nav{

border-radius:5 5 5 5;
border: #0e0e0e;
        
    }


    h4{
      font-size: 20px;  
      text-align: letf; 
      padding-bottom: 20px; 
      color: #ff0000;
    }